<IfModule mod_rewrite.c>
#this will start rewrite engine
RewriteEngine On

#this will set the base directory
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
</IfModule>