#pframe{
    display: none;
}

.red{
    color: red;
}

.small{
    font-style: italic;
    font-size: 0.9em;
}

.blue{
    color: rgb(0, 183, 255);
}

#banicon{
    width: 24px;
}

#pbanned{
    text-align: center;
    display: none;
    font-size: 0.8em;
}

#pbanned i, #pbanned a{
    font-size: unset;
}

#pbio{
    display: none;
}

#pfunctions{
    border: 1px solid rgb(168, 168, 168);
    display: none;
}

.pfunctions{
    width: 20%;
    font-size: 0.8em;
    border: 1px solid black;
    margin-left: auto; margin-right: auto;
    margin-bottom: 10px;
    color: black;
}


.pfunctions h3{
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .pfunctions{
        width: 100%;
    }

}

.pfunctions a{
    font-size: unset;
    margin: 0;
    color: blue;
    font-weight: normal;
}
.pfunctions i{
    font-size: unset;
}

.pfunctions a:hover{
    color: rgb(0, 195, 255);
}

#pfunctions legend{
    color: rgb(168, 168, 168);
}

.tag{
    font-weight: bold;
    text-align: center;
    width: unset;
}