*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: url("images/background.jpg") fixed no-repeat;
    background-size: cover;
}

header{
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: rgba(128, 128, 128, 0.274);
    display: flex;
    align-items: center;
}

.banniere{
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("images/banniere.jpg");
    background-size: cover;
    color: white;
    
}

#palg{
    font-size: 4em;
}

#palg, #discordip{
    background: rgba(122, 122, 122, 0.274) ;
    padding: 10px;
}

#ip{
    display: block;
    background: rgb(51, 51, 51);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 2em;
    color: white;
    transition: 0.2s;
}

#discordip{
    text-align: center;
}

#discord img {
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 10px;
}

nav{
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

nav ul{
    margin: 0;
    list-style: none;
    align-items: center;
    display: flex;
    height: 100%;
}

a{
    font-weight: bold;
    font-size: 1.2em;
    color: unset;
}

a:hover{
    text-decoration: unset;
}

nav ul a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.selected a{
    text-decoration: underline white;
}

li{
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(77, 76, 76, 0.801);
    transition: 0.2s;
    
}

li:hover, .selected{
    background: rgba(77, 76, 76);
}
li.selected:hover{
    background: rgb(46, 45, 45);
}
#ip:hover{
    background: rgb(0, 0, 0);
}

section{
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}

section:nth-child(n){
    background: rgba(255, 255, 255, 0.9);
    color: grey;
}

section.reglement{
    display: block;
}

.reglement h2{
    text-decoration: underline;
}

.reglement h1{
    font-size: 3em;
    text-decoration: underline;
}

article{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

#article_packs{
    display: flex;
    justify-content: center;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

section:nth-child(n) article{
    background: rgba(24, 24, 24, 0.637);
    color: white;
}

section:nth-child(2n) article{
    background: rgba(255, 255, 255, 0.9);
    color: grey;
}

section:nth-child(2n){
    background: rgba(24, 24, 24, 0.9);
    color: white;
}

footer{
    margin: 10px;
    background: rgba(128, 128, 128, 0.459);
    text-align: center;
}

ul.regles li{
    background: unset;
}

ul.regles li{
    text-align: justify;
    display: block;
}

ul.regles li ul li::before{
    content: "- ";
    color: white;  
    display: inline-block;  
    width: 1em; 
    margin-left: -1em;
}

ul.regles li::before {
    content: "— ";
    color: white;  
    display: inline-block;  
    width: 1em;     
    margin-left: -1em;
    } 

.flist{
    max-width: 30%;
    margin: auto;
    text-align: justify;
}
strong{
    text-decoration: underline;
    color: rgb(214, 155, 155);
}
.signature{
    text-align: end;
    font-size: 0.8em;
}