*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: url("images/background.jpg") fixed no-repeat;
    background-size: cover;
}

#endsec{
    font-size: 0.7em;
}

header{
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: rgba(128, 128, 128, 0.274);
    display: flex;
    align-items: center;
    z-index: 100;
}

.banniere{
    height: 60vh;
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("images/banniere.jpg");
    background-size: cover;
    color: white;
    
}

#palg{
    font-size: 4em;
}

#palg, #discordip{
    background: rgba(122, 122, 122, 0.274) ;
    padding: 10px;
}

#ip{
    display: block;
    background: rgb(51, 51, 51);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 2em;
    color: white;
    transition: 0.2s;
}

#discordip{
    text-align: center;
}

#discord img {
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 10px;
}

nav{
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

nav ul{
    margin: 0;
    list-style: none;
    align-items: center;
    display: flex;
    height: 100%;
}

a{
    font-weight: bold;
    font-size: 1.2em;
    color: unset;
}

a:hover{
    text-decoration: unset;
}

nav ul a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.selected a{
    text-decoration: underline white;
}

li{
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(77, 76, 76, 0.801);
    transition: 0.2s;
    
}

li:hover, .selected{
    background: rgba(77, 76, 76);
}
li.selected:hover{
    background: rgb(46, 45, 45);
}
#ip:hover{
    background: rgb(0, 0, 0);
}

section{
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}

section:nth-child(n){
    background: rgba(255, 255, 255, 0.9);
    color: grey;
}

section.reglement, .bedrock_actu{
    display: block;
    position: relative;
    transition: 300ms;
}

.reglement h2{
    text-decoration: underline;
}

.reglement h1{
    font-size: 3em;
    text-decoration: underline;
}


.reglement p{
    margin-bottom: 30px;
    max-width: 80vw;
    margin-left: auto; margin-right: auto;
}


.borders{
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
.borders tbody tr td{
    border: solid 1px gray;
}

article{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

#article_packs{
    display: flex;
    justify-content: center;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

section:nth-child(n) article{
    background: rgba(24, 24, 24, 0.637);
    color: white;
}

section:nth-child(2n) article{
    background: rgba(255, 255, 255, 0.9);
    color: grey;
}

section:nth-child(2n){
    background: rgba(24, 24, 24, 0.9);
    color: white;
}

footer{
    margin: 10px;
    background: rgba(128, 128, 128, 0.459);
    text-align: center;
}

ul.regles li{
    background: unset;
}

ul.regles li{
    text-align: justify;
    display: block;
}

ul.regles li ul li::before{
    content: "- "; 
    display: inline-block;  
    width: 1em; 
    margin-left: -1em;
}

ul.regles li::before {
    content: "— "; 
    display: inline-block;  
    width: 1em;     
    margin-left: -1em;
} 


section:nth-child(n) ul.regles li ul li::before,section:nth-child(n) ul.regles li::before{
    color: grey;
}

section:nth-child(2n) ul.regles li ul li::before,section:nth-child(2n) ul.regles li::before{
    color: white;
}

.flist{
    max-width: 30%;
    margin: auto;
    text-align: justify;
}
strong{
    text-decoration: underline;
    color: rgb(214, 155, 155);
}
.signature{
    text-align: end;
    font-size: 0.8em;
    margin-top: 50px;
}

.modeaffichage{
    position: absolute;
    right: 10px;
    top: 10px;
}

.modeaffichage #dark{
    transition: 200ms;
    background: black;
    opacity: 0.6;
    color: white;
}

i{
    font-size: 0.7em;
}

.modeaffichage div{
    padding: 5px;
    cursor: pointer;
}

.modeaffichage #light{
    transition: 200ms;
    margin-top: 10px;
    background: white;
    opacity: 0.6;
    color: grey;
}
.cgu * a{
    font-size: 1em;
}

mark{
    background: unset;
    font-weight: bold;
    color: unset;
    display: inline;
}


#dark:hover, #light:hover{
    opacity: 1;
}

.contact{
    width: 40%;
    border: 2px grey solid;
    margin: auto;
    margin-top: 5px;
}
#candidate_form input, #candidate_form textarea{
    width: 100%;
}
#candidate_form textarea{
    height: 30em;
    resize: none;
}
#candidate_form table{
    width: 100%;
}
.tag{
    text-align: end;
    width: 20%;
}
#load_gif{
    display: block;
    width: 3em;
    margin: auto;
}
.error{
    color: red;
}

.radios{
    display: flex;
    text-align: center;
}
.hide{
    display: none;
}

@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
        font-size: 0.9em;
	}
    .reglement p{
        max-width: unset;
    }

    .reglement h1{
        font-size: 2em;
    }

	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	.borders{
        width: 90%;
    }
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
	.flist{
        max-width: 95%;
    }

    nav ul a{
        color: white;
        padding: 5px;
        font-size: 0.8em;
    }

    .reglement h1, .cgu h1{
        margin-top: 100px;
    }
    
    .contact{
        width: unset;
    }

    .banniere{
        flex-direction: column;
    }

    #palg{
        font-size: 1.5em;
    }

    #discordip{
        margin-bottom: 5px;
        font-size: 0.8em;
    }

    article{
        width: unset;
    }


@media (max-device-width:768px) and (orientation: landscape) {
    html {
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
    }
  }
}

