body{
    margin: unset;
    font-family: Calibri,Arial, Helvetica, sans-serif;
}

.main{
    position: relative;
}

section{
    display: none;
}

.home_link{
    font-size: 1.8em;
    color: grey;
    border: solid 1px grey;
    margin: 10px;
    display: none;
}

#banner{
    position: relative;
    height: 6em;
    background: linear-gradient(rgb(160, 75, 26),rgb(255, 95, 95));
    display: flex;
    align-items: center;
    font-variant: small-caps;
}
a{
    color: blue;
    font-variant: normal;
    font-size: 0.8em;
}

a:hover{
    color: rgb(26, 90, 109);
    text-decoration: unset;
}

a:visited{
    color: blue;
}
#divlogos{
    display: flex;
    height: 5em;
    align-items: center;
}
#divinst{
    display: block;
    font-size: 1.1em;
}
img{
    display: block;
    height: 95%;
    margin: 10px;
}

#connection{
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#connection div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(rgb(194, 194, 194),rgb(240, 240, 240));
    border-radius: 10px;
    padding: 20px;
}

.error_section{
    display: none;
    color: red;
    text-align: center;
}

.error, #p_error{
    color: red;
    font-style: italic;
}

#p_error{
    display: inline-block;
}

.success{
    color: green;
}
#userbloc{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}

.main{
    text-align: center;
}

#userlist{
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

#userlist td{
    border: 1px solid black;
}

.tag{
    font-weight: bold;
}

#newuser{
    color: grey;
    font-size: 1.5em;
    text-decoration: none;
    transition-duration: 100ms;
}

#newuser:hover{
    color: black;
}

.p_info, #p_info{
    font-style: italic;
    font-size: 0.8em;
    color: grey;
}
.end{
    text-align: end;
}

#regnewtable, #reg_home_list table{
    width: 60%;
    margin: auto;
}
.start{
    text-align: start;
    margin: auto;
}

.rgn, .rgn_content, .rgn_sign, #rgn_dispos{
    width: 100%;
}

textarea.rgn, textarea.rgn_content, #rgn_dispos{
    height: 10em;
}

#rgn_tbody{
    display: none;
}

#rgn_title{
    width: 70%;
}

.rgn_notprop{
    display: none;
}

.rgn_add{
    font-size: 1.1em;
    color: grey;
    transition: linear 100ms;
    cursor: pointer;
}

.rgn_add:hover{
    color: black;
}

.rgn_delete, .delete{
    color: rgb(255, 129, 129);
}

.export{
    color: grey;
}

.export:hover{
    color: black;
}

.rgn_delete, .delete, .export{
    font-size: 1.5em;
    cursor: pointer;
    transition: linear 100ms;
    position: relative;
    top: 2px;
}

.rgn_delete:hover, .delete:hover{
    color: red;
}

#reg_home_list{
    display: none;
}
#reg_home_list table {
    border-collapse: collapse;
}
#reg_home_list table td{
    border: 1px black solid;
}
.return_arrow > a{
    font-size: 2em;
    text-decoration: none;
    position: absolute;
    left: 2%;
    top: 0;
    color: rgb(187, 187, 187);
    cursor: pointer;
    transition: linear 100ms;
}
.return_arrow > a:hover{
    color: black;
}
.return_arrow{
    display: none;
}
#rgn_preview_bloc{
    display: none;
    border: solid 1px black;
    width: 100%;
    margin-top: 10px; margin-bottom: 10px;
}
#rgn_preview_bloc > p{
    padding: 30px;
}
embed{
    width: 100%;
    height: 100vh;
}

#rgn_publy{
    display: none;
}

.loading_img{
    display: block;
    width: 3em;
    height: auto;
    margin: auto;
}

.attrch{
    font-size: 0.8em;
}

#submissions table{
    display: none;
    margin: auto;
    border-collapse: collapse;
}
#submissions > h2, #subm_disp{
    display: none;
}

#submissions table td{
    border: solid 2px black;
    padding: 5px;
}

.subm_avis > div{
    display: flex;
    justify-content: center;
}
.subm_avis > div > div{
    margin: 10px;
}

.subm_avis textarea{
    resize: none;
}

.load_info{
    display: block;
    text-align: center;
}