body{
    margin: unset;
    font-family: Calibri,Arial, Helvetica, sans-serif;
}

section{
    display: none;
}

#banner{
    position: relative;
    height: 6em;
    background: linear-gradient(rgb(194, 194, 194),rgb(240, 240, 240));
    display: flex;
    align-items: center;
    font-variant: small-caps;
}
#divlogos{
    display: flex;
    height: 5em;
    align-items: center;
}
#divinst{
    display: block;
    font-size: 1.1em;
}
img{
    display: block;
    height: 95%;
    margin: 10px;
}

#connection{
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#connection div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(rgb(194, 194, 194),rgb(240, 240, 240));
    border-radius: 10px;
    padding: 20px;
}

.error_section{
    display: none;
    color: red;
    text-align: center;
}

.error{
    color: red;
    font-style: italic;
}

.success{
    color: green;
}

#home{
    display: none;
    margin-top: 20px;
}

.buttons{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

#home_cadre{
    width: 60%;
    margin: auto;
    margin-top: 0;
    border: 1px black solid;
}


.closed{
    color: green;
}

.waiting{
    color: rgb(255, 123, 0);
}

.opened{
    color: red;
}

#nothing_to_see, .summary div:nth-child(2) p,.summary div:nth-child(3) p,.summary div:nth-child(4) p{
    text-align: center;
    font-style: italic;
}

.buttons li{
    background: linear-gradient(rgb(194, 194, 194),rgb(240, 240, 240));
    padding: 10px 30px 10px 30px;
    border-left: 1px solid grey; border-right: 1px solid grey; border-top: 1px solid grey;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition-duration: 200ms;
}

.buttons li.selected{
    border-bottom: solid 3px red;
    background: linear-gradient(rgb(170, 170, 170),rgb(207, 207, 207));
}

.buttons li:hover{
    border-bottom: solid 1px red;
    background: linear-gradient(rgb(163, 162, 162),rgb(202, 202, 202));
}

.summary{
    display: flex;
    background: linear-gradient(rgb(163, 162, 162),rgb(202, 202, 202));
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.summary div h1, .summary div p{
    margin: 0;
}

#userbloc{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}


#signOut{
    color: red;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
}
#signOut:hover{
    color: rgb(134, 35, 35);
}

#changepassword{
    text-align: center;
    display: none;
}

#changepassword table{
    margin: auto;
}

a{
    color: red;
    font-variant: normal;
    font-size: 0.8em;
}

a:hover{
    color: rgb(109, 26, 26);
    text-decoration: unset;
}

a:visited{
    color: red;
}

#firstdivuserbloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-variant: normal;
}
#div_titlename img{
    width: 15px;
}

#titlename::before{
    content: url("img/profile_icon.png");
}

#homesettings{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#homesettings a{
    margin: 5px;
}

#homelink{
    border-right: 1px grey solid;
}

#titlename{
    font-weight: bold;
}

#titlerole{
    font-size: 0.9em;
    color: rgb(99, 99, 99);
}