body{
    margin: unset;
    font-family: Calibri,Arial, Helvetica, sans-serif;
}

section{
    display: none;
}

#banner{
    position: relative;
    height: 6em;
    background: linear-gradient(rgb(194, 194, 194),rgb(240, 240, 240));
    display: flex;
    align-items: center;
    font-variant: small-caps;
}
#divlogos{
    display: flex;
    height: 5em;
    align-items: center;
}
#divinst{
    display: block;
    font-size: 1.1em;
}
img{
    display: block;
    height: 95%;
    margin: 10px;
}

#connection{
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#connection div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(rgb(194, 194, 194),rgb(240, 240, 240));
    border-radius: 10px;
    padding: 20px;
}

.error_section{
    display: none;
    color: red;
    text-align: center;
}

.error, #p_error{
    color: red;
    font-style: italic;
}

#p_error{
    display: inline-block;
}

.success{
    color: green;
}

#home{
    display: none;
    margin-top: 20px;
}

.buttons{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    user-select: none;
}

#home_cadre{
    width: 60%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
    border: 1px black solid;
}


.closed{
    color: green;
}

.waiting{
    color: rgb(255, 102, 0);
}

.opened{
    color: red;
}

#nothing_to_see, .summary div:nth-child(2) p,.summary div:nth-child(3) p,.summary div:nth-child(4) p{
    text-align: center;
    font-style: italic;
}

.buttons li{
    background: linear-gradient(rgb(194, 194, 194),rgb(240, 240, 240));
    padding: 10px 30px 10px 30px;
    border-left: 1px solid grey; border-right: 1px solid grey; border-top: 1px solid grey;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition-duration: 200ms;
}

.buttons li.selected{
    border-bottom: solid 3px red;
    background: linear-gradient(rgb(170, 170, 170),rgb(207, 207, 207));
}

.buttons li:hover{
    border-bottom: solid 1px red;
    background: linear-gradient(rgb(163, 162, 162),rgb(202, 202, 202));
}

.summary{
    display: flex;
    background: linear-gradient(rgb(197, 197, 197),rgb(226, 226, 226));
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.summary:hover{
    box-shadow: black 3px 3px 3px;
    background: linear-gradient(rgb(190, 190, 190),rgb(202, 201, 201));
}

.summary div h1, .summary div p{
    margin: 0;
}

#userbloc{
    position: absolute;
    right: 10px;
    display: none;
    align-items: center;
}


#signOut{
    color: red;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
}
#signOut:hover{
    color: rgb(134, 35, 35);
}

#changepassword{
    text-align: center;
    display: none;
}

#changepassword table{
    margin: auto;
}

a{
    color: red;
    font-variant: normal;
    font-size: 0.8em;
}

a:hover{
    color: rgb(109, 26, 26);
    text-decoration: unset;
}

a:visited{
    color: red;
}

#firstdivuserbloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-variant: normal;
}
#div_titlename img{
    width: 15px;
}

#titlename::before{
    content: url("img/profile_icon.png");
}

#homesettings{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#homesettings a{
    margin: 5px;
}

#homelink{
    border-right: 1px grey solid;
}

#configlink{
    border-left: 1px grey solid;

}


#titlename{
    font-weight: bold;
}

#titlerole{
    font-size: 0.9em;
    color: rgb(99, 99, 99);
}

#home_new{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: rgb(88, 88, 88);
}

#home_new p{
    margin: 0;
    padding: 0;
}

#home_new a{
    color: rgb(88, 88, 88);
    display: block;
    font-style: normal;
    width: 1em;
    font-size: 1.2em;
    margin: auto;
    text-decoration: unset;
    border: solid 1px rgb(88, 88, 88);
    border-radius: 20px;
    padding: 0;
    
}

#home_new:hover{
    color: black;
}

#home_new a:hover{
    border: solid 1px rgb(88, 88, 88);
    color: black;
    padding: 0;
}

#home_display_option{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
    font-size: 0.7em;
}

#home_display_option input{
    max-width: 3em;
}

.section_new{
    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pinit_config{
    display: none;
    border: solid 1px black;
}

.tinit_config, .rinit_config{
    display: none;
    border: solid 1px black;
}

.l_area{
    width: 20em;
    height: 10em;
}

.tag{
    font-weight: bold;
}

.end{
    text-align: end;
}

.tag.end{
    width: 50%;
}


#tick_closeActs, .ind_tempActs, #proc_closeActs{
    border: 1px black solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#proc_closeActs{
    display: none;
}

.tclose, .rtemp, .pclose{
    border: 1px dashed grey;
    margin: 5px;
}

.pclose{
    margin: auto;
    margin-top: 5px;
}

.tclose_commenttd, .rtemp_commenttd, .tclose_itemd, .rtemp_itemd,.pclose_commenttd,.pclose_itemd,.pclose_payertd,.pclose_itemlistd{
    display: none;
}

.plus{
    color: rgb(155, 155, 155);
    border: solid 2px rgb(155, 155, 155);
    width: 1em;
    margin: auto;
    border-radius: 20px;
    font-size: 1.3em;
    padding-left: 2px;padding-right: 2px;
    cursor: pointer;
}

.plus:hover{
    color: black;
    border-color: black;
    transition-duration: 200ms;
}

#display_section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#big_title{
    margin-bottom: 1px;
}

#subtitle_infos{
    margin-top: 0;
    font-style: italic;
}

#main_title{
    max-width: 100vmax;
    min-width: 100%;
    width: auto;
    text-align: center;
}

#main_title.indictment{
    background: linear-gradient(rgb(175, 124, 124),rgb(255, 203, 203));
}
#main_title.procedure{
    background: linear-gradient(rgb(119, 155, 255),rgb(177, 195, 255));
}
#main_title.ticket{
    background: linear-gradient(rgb(69, 255, 193),rgb(87, 199, 190));
}

#_a_descr{
    font-style: italic;
    font-size: 0.8em;
    padding: 10px;
    margin: 0;
}

#a_descr{
    padding: 10px;
    margin: 0;
}

.sm_margin{
    margin: 0;
}

#a_descr_box{
    border: dashed 1px grey;
}

.display_sanct{
    border: 2px solid rgb(100, 100, 100);
    transition: linear 200ms;
    width: 100%;
}

.display_sanct:hover{
    border: 2px dashed black;
}

.display_sanct{
    margin: auto;
    margin-top: 10px;

    text-align: center;
}

#statut_td{
    color: inherit;
}

a.new{
    display: block;
    color: grey;
    text-decoration: unset;
    font-size: 1.2em;
    transition-duration: 200ms;
}

a.new:hover{
    color: black;
}

#sanct_display_td{
    border: solid 1px rgb(201, 201, 201);
    margin: 10px;
    padding: 10px;
}

.closed a{
    color: green;
    font-size: 1em;
}

.acts_list{
    border-collapse: collapse;
}

.acts_list > tr > td, .acts_list > tbody > tr > td{
    border: solid 1px black;
}

.acts_list{
    width: 100%;
    margin: auto;
    text-align: center;
    background: rgb(235, 235, 235);
}

#display_table{
    width: 60%;
    margin: auto;
}

.display_act_descr{
    width: 100%;
}

.tag + td{
    text-align: justify;
}

.tag + td[class~=tag]{
    text-align: inherit;
}

.normalsize{
    font-size: 1em;
}
#display_table .end{
    width: 50%;
}

.smaller{
    font-size: 0.8em;
}

.formcl{
    padding: 5px;
    border: dashed 1px grey;
    text-align: center;
}

#closemanagetd{
    font-size: 0.8em;
    font-style: italic;
}

#proc_close_opt{
    display: none;
    transition: linear 200ms;
}

#proc_close_button{
    text-align: center;
    width: 100%;
    margin: auto;
    cursor: pointer;
}

#newact_td > a {
    font-size: 2em;
    color: rgb(151, 149, 149);
    text-decoration: unset;
    transition: linear 100ms;
}
#newact_td > a:hover{
    color: black;
}

#newact > h1{
    text-align: center;
    text-decoration: underline;
}

#newact_choose{
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    display: none;
}

#newact_choose td{
    border: solid 1px black;
    text-align: center;
    background: rgb(228, 228, 228);
}

#newact_choose .tag{
    background: rgb(184, 184, 184);
}

.newAct:hover{
    font-weight: bold;
    text-decoration: underline;
}
.newAct{
    cursor: pointer;
    user-select: none;
}
.fieldset_NA{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    align-items: center;
}

#request_result{
    width: 60%;
    margin: auto;
}

#newact .error{
    text-align: center;
}

#pre_result{
    padding: 10px;
    border: solid 1px rgb(206, 206, 206);
}
