table{
    max-width: 80%;
    border-collapse: collapse;
    margin: auto;
}
td{
    border: 1px grey solid;
    padding: 5px;
}

table img{
    padding: 5px;
    display: block;
    width: 70%;
    margin: auto;
}
section{
    position: relative;
}
#next{
    position: absolute;
    top: 20px;
    right: 5px;
}
#previous{
    position: absolute;
    top: 20px;
    left: 5px;
}

@media (max-width: 640px) {

    a{
        font-size: 0.9em;
    }
    h1{
        padding-top: 2em;
    }
    table{
        max-width: 100%;
    }
}